.btns {
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.btns btn1,
.btns btn2,
.btns btn3,
.btns btn4,
.btns btn5,
.btns btn6,
.btns btn7,
.btns btn8,
.btns btn9 {
    width: 30%;
    position: relative;
    height: 48px;
    font-size: 24px;
}